body{
    
    font-family: Arial, sans-serif;
}
#myCanvas{
    position: absolute;
    top:0;
    align-items: center;
    
    background-color: #ffffff;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    left: 0;
}

table{
    width: 100%;
}

#canvasImg{
    width: 75%;
    height: 75%;
}