:root{
    --mcolor: rgb(3, 26, 126);
    --lmcolor:rgb(134, 207, 255);
    --dmcolor:rgb(53, 91, 116);
    --gmcolor:rgb(85, 115, 136);
    --scolor: rgb(205, 98, 98);
    --lscolor: rgb(250, 119, 119);
    --dscolor: rgb(96, 29, 29);
    --gscolor: rgb(196, 140, 140);
    --lbcolor: rgb(219, 230, 249);
    --bcolor:rgb(240, 240, 255);
    --dbcolor:rgb(58, 84, 116);

    --fcolor:rgb(255, 255, 255);

    --fs:3VW;
    --bfs:5VW;
    --sfs:2VW;
}


.display{
    display: block;
}
.flex{
    display: flex;
}
.flex1{
    flex:1;
}
.justsa{
    justify-content: space-around;
}
.justc{
    justify-content: center;
}
body{
    background-color: var(--bcolor);
    text-align: center;
    font-size: 40px;
    
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
}

.Center{
    height:90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width:1200px){
    :root{
        --fs:5VW;
        --bfs:7VW;


       
    }
    
}
@media screen and (min-aspect-ratio: 16/9) {
    :root{
        --fs:2VW;
        --bfs:4VW;
        --bcolor:rgb(255, 255, 255);
    }
    .qbox{
        padding-top: 2%;
    }
}
@media screen and (max-width:600px){
    :root{
        --fs:10VW;
        --bfs:15VW;

       

    }
    
}